

.right {
  float: right;
}

.left {
  display: inline-block;
}

.square {
  background-color: white;
  border: 1px solid black;
}

.color {
  background-color: rgb(27, 27, 27);
  border: 1px solid black;
}
.source{
   background-color: rgb(7, 250, 59);
}
.destination{
   background-color: rgb(250, 7, 68);
}
.gridContainer {
  margin-top: 10px;
  margin-right: 40px;
  display: inline-grid;
  grid-template-columns: repeat(41, 1fr);
  grid-template-rows: repeat(21, 1fr);
  border: 5px solid black;
  border-radius: 5px;
  height: 90vh;
  width: 75vw;
}
.navbar {
  overflow: hidden;
}

.navbar  {
  float: left;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}





